<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>configName</key>
		<string>TelematicsApp_Configuration</string>
		<key>userServiceRootURL</key>
		<string>https://user.telematicssdk.com/v1</string>
		<key>indicatorsServiceURL</key>
		<string>https://api.telematicssdk.com/indicators/v1</string>
		<key>driveCoinsServiceURL</key>
		<string>https://mobilesdk.telematicssdk.com/api/rewarding/v2</string>
		<key>leaderboardServiceURL</key>
		<string>https://leaderboard.telematicssdk.com/v1</string>
		<key>carServiceURL</key>
		<string>https://services.telematicssdk.com/api/carservice/v1</string>
		<key>instanceId</key>
		<string>&lt;YOUR_INSTANCE_ID&gt;</string>
		<key>instanceKey</key>
		<string>&lt;YOUR_INSTANCE_KEY&gt;</string>
		<key>linkPrivacyPolicy</key>
		<string>https://telematicssdk.com/privacy-policy/</string>
		<key>linkTermsOfUse</key>
		<string>https://telematicssdk.com/privacy-policy/</string>
		<key>linkHowItWorks</key>
		<string>https://help.telematicssdk.com/en/collections/1827809-mobile-application</string>
		<key>telematicsSettingsOS12</key>
		<string>https://help.telematicssdk.com/en/articles/3128577-ios-12-and-earlier-settings-guide</string>
		<key>telematicsSettingsOS13</key>
		<string>https://help.telematicssdk.com/en/articles/3740816-ios-13-settings-guide</string>
		<key>linkSupportEmail</key>
		<string>support@telematicssdk.com</string>
		<key>appStoreAppId</key>
		<string>&lt;YOUR_APPSTORE_APP_ID&gt;</string>
		<key>mapsAppIdKey</key>
		<string>&lt;INSERT_YOUR_APPIDKEY_FOR_HEREMAPS_SERVICES&gt;</string>
		<key>mapsAppCode</key>
		<string>&lt;INSERT_YOUR_APPCODEKEY_FOR_HEREMAPS_SERVICES&gt;</string>
		<key>mapsLicenseKey</key>
		<string>&lt;INSERT_YOUR_LICENSEKEY_FOR_HEREMAPS_SERVICES&gt;</string>
		<key>mapsRestApiKey</key>
		<string>&lt;INSERT_YOUR_RESTAPIKEY_FOR_HEREMAPS_SERVICES&gt;</string>
		<key>googleApiKey</key>
		<string>&lt;INSERT_YOUR_KEY_FOR_GOOGLE_SERVICES&gt;</string>
		<key>mainLogoColor</key>
		<string>app_logo_colorTelematicsApp</string>
		<key>mainLogoClear</key>
		<string>app_logo_clearTelematicsApp</string>
		<key>mainBackgroundImg</key>
		<string>feed_background</string>
		<key>additionalBackgroundImg</key>
		<string>feed_background</string>
		<key>mainTabBarNumber</key>
		<integer>0</integer>
		<key>dashboardTabBarNumber</key>
		<integer>0</integer>
		<key>feedTabBarNumber</key>
		<integer>1</integer>
		<key>rewardsTabBarNumber</key>
		<string>2</string>
		<key>profileTabBarNumber</key>
		<integer>3</integer>
		<key>needUserDriveDistanceForScoringKm</key>
		<integer>10</integer>
		<key>needTripsDeleting</key>
		<true/>
		<key>needDistanceInMiles</key>
		<false/>
		<key>needAmPmTime</key>
		<false/>
		<key>sdkEnableHighFrequency</key>
		<true/>
		<key>sdkEnableELM</key>
		<true/>
		<key>needEventsReviewButton</key>
		<true/>
	</dict>
</array>
</plist>
