<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>configName</key>
		<string>TelematicsApp_Configuration</string>
		<key>userServiceRootURL</key>
		<string>https://user.telematicssdk.com/v1</string>
		<key>userServiceRootURLv2</key>
		<string>https://user.telematicssdk.com/v2</string>
		<key>statisticServiceURL</key>
		<string>https://api.telematicssdk.com/Statistics/v1</string>
		<key>leaderboardServiceURL</key>
		<string>https://mobilesdk.raxeltelematic.com/api/leaderboardservice/v1</string>
		<key>carServiceURL</key>
		<string>https://services.telematicssdk.com/api/carservice/v1</string>
		<key>instanceId</key>
		<string>400f4c9d-da1a-4d6e-9358-99b8aeb72584</string>
		<key>instanceKey</key>
		<string>8e4e55c1-eac7-430a-9499-cb5036d2627b</string>
		<key>linkPrivacyPolicy</key>
		<string>https://raxeltelematics.com/policy</string>
		<key>linkTermsOfUse</key>
		<string>https://raxeltelematics.com/tnc</string>
		<key>linkHowItWorks</key>
		<string>https://help.telematicssdk.com/en/collections/1827809-mobile-application</string>
		<key>telematicsSettingsOS12</key>
		<string>https://help.telematicssdk.com/en/articles/3128577-ios-12-and-earlier-settings-guide</string>
		<key>telematicsSettingsOS13</key>
		<string>https://help.telematicssdk.com/en/articles/3740816-ios-13-settings-guide</string>
		<key>linkSupportEmail</key>
		<string>support@telematicssdk.com</string>
		<key>appStoreAppId</key>
		<string>YOUR_APPSTORE_APP_ID</string>
		<key>mapsAppIdKey</key>
		<string>JmTMidAeAv2wlw6MDHdE</string>
		<key>mapsAppCode</key>
		<string>rd3SZHoY4zRpH1M-08NAOw</string>
		<key>mapsLicenseKey</key>
		<string>XEA7RMMoR43hAP0WnvZVG1st1nplVpezH754JtuR78YgZD85jPcbTHaVDKFQfVtdCwVbHzH0jxV3MwyuUKPXNi4o5Wfjlc0j4JBLVIhuAbrmt/u3z4ADfYa/LJOz+GGfcOoAujLZTyIfSlzp9G2oMfsAG0bQVplQzLG5n8YCKAtVsvlaA/Scze6SAjFEcTy+v2ciGu8rM+/eP5x5M8cPtsMj4ahN0dzfvEQMgeEt/NRqLSU23H/QiHumlylfNA6bbb5mH8UOBueQARZr2r1SQ1adNxZNGwsslz0KyRRvCDZd7fipAaxgahZ4zJCVN696bd9AnFkEPZ/enR9uRaCIOp2RaveKyiTXCUh2ZTRJYOGQGms6+jannyPxiWUroHdWg7WbVBsUtxN8UheJfr3ngMa+sLJ571cuRlR2caRhCb/R35zOeJwH0CW+l9mnXVpNXOTKyUS1wYt+5Vyop+HvzM6/NmlWJnpEzGxLD0Tsn6BLEpObRvFX+XLkiB6NncyQUE8CjiXiuYi3e2AwjqPwUAKAbWT6FYwEnQB9UNGhuTMIrV9OBokPGfMhwU3Y62sIS/YW6bUQJNb5gucdBV1BxKyy5aTJtCYaUaGrSwO5fWwS5OoisvnkUDy4OOShix9+2WDYcQKKvV+aTDT3k3ALo77bz/4AAtQ0IJUzgVDAGYQ=</string>
		<key>mapsRestApiKey</key>
		<string>t8IWzdVDNpvnJ2XJSD-3I14-Kabb1Hl_t6kzWYTVyMg</string>
		<key>mainLogoColor</key>
		<string>app_logo_colorTelematicsApp</string>
		<key>mainLogoClear</key>
		<string>app_logo_clearTelematicsApp</string>
		<key>mainBackgroundImg</key>
		<string>feed_background</string>
		<key>additionalBackgroundImg</key>
		<string>feed_background</string>
		<key>mainTabBarNumber</key>
		<integer>0</integer>
		<key>dashboardTabBarNumber</key>
		<integer>0</integer>
		<key>feedTabBarNumber</key>
		<integer>1</integer>
		<key>profileTabBarNumber</key>
		<integer>2</integer>
		<key>needDistanceForScoringKm</key>
		<integer>10</integer>
		<key>showTrackSignatureCustomButton</key>
		<true/>
		<key>showTrackTagCustomButton</key>
		<false/>
		<key>needTripsDeleting</key>
		<true/>
		<key>needDistanceInMiles</key>
		<false/>
		<key>needAmPmTime</key>
		<false/>
		<key>sdkEnableHF</key>
		<true/>
		<key>needEventsReviewButton</key>
		<true/>
	</dict>
</array>
</plist>
