<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>configName</key>
		<string>TelematicsApp_Configuration</string>
		<key>userServiceRootURL</key>
		<string>https://user.telematicssdk.com/v1</string>
		<key>userServiceRootURLv2</key>
		<string>https://user.telematicssdk.com/v2</string>
		<key>statisticServiceURL</key>
		<string>https://api.telematicssdk.com/Statistics/v1</string>
		<key>leaderboardServiceURL</key>
		<string>https://mobilesdk.raxeltelematic.com/api/leaderboardservice/v1</string>
		<key>carServiceURL</key>
		<string>https://services.telematicssdk.com/api/carservice/v1</string>
		<key>instanceId</key>
		<string>400f4c9d-da1a-4d6e-9358-99b8aeb72584</string>
		<key>instanceKey</key>
		<string>8e4e55c1-eac7-430a-9499-cb5036d2627b</string>
		<key>linkPrivacyPolicy</key>
		<string>https://raxeltelematics.com/policy</string>
		<key>linkTermsOfUse</key>
		<string>https://raxeltelematics.com/tnc</string>
		<key>linkHowItWorks</key>
		<string>https://help.telematicssdk.com/en/collections/1827809-mobile-application</string>
		<key>telematicsSettingsOS12</key>
		<string>https://help.telematicssdk.com/en/articles/3128577-ios-12-and-earlier-settings-guide</string>
		<key>telematicsSettingsOS13</key>
		<string>https://help.telematicssdk.com/en/articles/3740816-ios-13-settings-guide</string>
		<key>linkSupportEmail</key>
		<string>support@telematicssdk.com</string>
		<key>appStoreAppId</key>
		<string>YOUR_APPSTORE_APP_ID</string>
		<key>mapsAppIdKey</key>
		<string>JmTMidAeAv2wlw6MDHdE</string>
		<key>mapsAppCode</key>
		<string>rd3SZHoY4zRpH1M-08NAOw</string>
		<key>mapsLicenseKey</key>
		<string>as4Bl+FBe7eWCj0+zQhL8JHFXy0FPBgZJquiVpkglZrGVUgurPCk29/BYEK+JXCH2PivpBaamQ1EIgj1danQ6VwPOZN04/76ROAWuVYF06dfr3TF9f6Ds+g9BTW3DkgoLTHzwMZqLo/8B0Hz3sJuNoopeYj/YeJsdJ8sFCV4c8bpCreWSFlJpmzzqMwXwWnFH6CSFmJ51lGBTBsKtvvA13NgjdarR8YgoVwH5gWaKL4QrDlaZWo8QrkeGwQhrTvM5PXeLlUewqVGRfBtcdJH1NDGmkO3HWqPbxP9bAmx///Vx/fRskWTQ5Yyu9/yoengEyEKGh7TB7fjp1Nor4GdALXyzi8tvlZuzCQctYnq/2+fVrwf5tw82sXrZdRBF2F8x722d+BBchk+LcheXJmSPdh2gTtxPDBE58O/FkXhzpO/PWWzIuNizXXSYk+snnJdCPErgLVR0+5IXEhdCVVVrYfLVVE/sqnb53KB6cNuCwBVSTJPaiO+k+GF6TS9x4pjNgy4Lik+H3oUvwLF2SDDJsuN1X+B+07HssNhEXmzSG8DqgA7XiWvBZGHtiyoAktw/aQQmtYgMHXB/yoWfsQcm8OGdhXtuGx0q69YjTZSdQTQCUvYYV7I99wxmdVOfg0zC62l2Ijz+pR2ohHLAE/Gpe4NvZ0imBCPJLNcw1aq8hw=</string>
		<key>mapsRestApiKey</key>
		<string>t8IWzdVDNpvnJ2XJSD-3I14-Kabb1Hl_t6kzWYTVyMg</string>
		<key>mainLogoColor</key>
		<string>app_logo_colorTelematicsApp</string>
		<key>mainLogoClear</key>
		<string>app_logo_clearTelematicsApp</string>
		<key>mainBackgroundImg</key>
		<string>feed_background</string>
		<key>additionalBackgroundImg</key>
		<string>feed_background</string>
		<key>mainTabBarNumber</key>
		<integer>0</integer>
		<key>dashboardTabBarNumber</key>
		<integer>0</integer>
		<key>feedTabBarNumber</key>
		<integer>1</integer>
		<key>profileTabBarNumber</key>
		<integer>2</integer>
		<key>needDistanceForScoringKm</key>
		<integer>10</integer>
		<key>showTrackSignatureCustomButton</key>
		<true/>
		<key>showTrackTagCustomButton</key>
		<false/>
		<key>needTripsDeleting</key>
		<true/>
		<key>needDistanceInMiles</key>
		<false/>
		<key>needAmPmTime</key>
		<false/>
		<key>sdkEnableHF</key>
		<true/>
		<key>needEventsReviewButton</key>
		<true/>
	</dict>
</array>
</plist>
