<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976593118185-7lg0149gan3tmibkejnkkvggrbf34ig3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976593118185-7lg0149gan3tmibkejnkkvggrbf34ig3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976593118185-r8tgt9ovk2le35nra03t6l4q7b99bv74.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIr1Wt0EGvQI7uLbPiht9XCiGIpUKYf3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>976593118185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telematics.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>zytertelematics</string>
	<key>STORAGE_BUCKET</key>
	<string>zytertelematics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976593118185:ios:78618a9f01b75b8faae178</string>
	<key>DATABASE_URL</key>
	<string>https://zytertelematics.firebaseio.com</string>
</dict>
</plist>